.intro {
  color: green;
  font-style: italic;
  font-size: 40px;
}
/* .intro {
  color: blue;
  font-size: 50px;
  font-style: oblique;
}

img.intro {
  object-fit: contain;
  object-position: 100% 150%;
  width: 300px;
  height:400px;
} */
